#circle {
    background-color: purple;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: .4s;
    margin-bottom: 20px;
    margin-left: 40px;
}

#quote, 
#author {
    margin: 1rem;
}

div {
    padding-top: 1rem;
}
#giftbox {
    width: 210px;
    background-color: lightblue;
    border: 2px solid blue;
    text-align: center;
    padding: 20px;
} 


img {
    width: 200px;
}
#my-div {
    background-color: yellow;
    font-size: 3rem;
}